body {
    /* background: rgb(245, 245, 245); */
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    /* table-layout: fixed; */
    border-collapse: collapse;
}

td {
    padding: 10px;
}

.phases {
    padding: 2rem;
}

.phase {
    border-radius: 30px;
    margin-bottom: calc(10px + 1vw);
    display: flex;
    align-items: center;
}

/* .phase.fixed {
    background: rgba(0, 255, 0, 0.5);
} */

h3 {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

button {
    appearance: none;
    border: none;
    background: none;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-align: left;
    padding: 0;
}

button:hover {
    color: black;
}

button:focus {
    outline: none;
}

.column.date {
    text-align: right;
    min-width: calc(150px + 4.75vw);
}
.column.start-date {
    margin-left: auto;
}

.column:first-child {
    width: 75px;
    text-align: left;
}

.disabled {
    opacity: 0.25;
}

.options {
    display: flex;
    width: 100%;
    font-size: 3rem;
}

h4 {
    margin: 0;
}

.options .option {
    padding: 2rem;
    flex: 1;
    background: rgba(0, 0, 255, 0.222);
}

.options .option:nth-child(2) {
    background: rgba(0, 0, 255, 0.444);
}
.options .option:nth-child(3) {
    background: rgba(0, 0, 255, 0.666);
}

.column.drag {
    flex: 1;
    margin: 0 1rem;
}

.column.drag input {
    width: 100%;
}

.column.value {
    min-width: calc(100px + 0.75vw);
    text-align: center;
}

.phase * {
    font-size: calc(10px + 0.75vw);
    font-weight: 700;
}

.column.title {
    min-width: calc(200px + 3.75vw);
}

.project-list {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(120, 160, 120);
    z-index: 200;
}

.showing-projects .project-list {
    display: block;
}

.main-button {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
}

.main-project-list {
    list-style: none;
    margin: 0;
    padding: 1rem;
}
.main-project-list li {
    margin-bottom: 1rem;
}
.main-project-list button {
    font-size: 1rem;
    font-weight: 700;
    color: black;
    background: rgba(255, 255, 255, 0.242);
    padding: 10px;
    border-radius: 10px;
}
.main-project-list button:hover {
    background: rgba(255, 255, 255, 0.564);
}
button.add-new-project,
button.add-new-project:hover {
    color: white;
    background: black;
}

button.delete-project {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    color: red;
}
