:root {
    --helpfulSpacing: 10px;
}

body {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.phase {
    display: flex;
    padding: var(--helpfulSpacing);
    border-radius: 3px;
    margin-bottom: 3px;
}

.column.title {
    width: 200px;
}

.column.drag {
    flex: 1;
}

.column.active {
    width: 100px;
    text-align: center;
}

.column.drag input {
    width: 100%;
}

.column.value {
    width: 90px;
}

.column.date {
    width: 160px;
}

.column.reset {
    width: 100px;
    text-align: center;
}

.column.date,
.column.value {
    text-align: right;
}

.column.handle {
    width: 25px;
    cursor: pointer;
}

.column.handle:hover path {
    fill: blue;
}

.phase.disabled {
    opacity: 0.5;
}
.phase.disabled .column.drag,
.phase.disabled .column.value,
.phase.disabled .column.date {
    opacity: 0;
}

.phase.fixed {
    background: rgba(255, 255, 0, 0.249);
}

.column.title input,
.option.title input,
.option.startDate input {
    appearance: none;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1rem;
    border-bottom: solid 2px transparent;
}

.column.title input:focus,
.column.title input:hover,
.option.title input:focus,
.option.title input:hover {
    outline: none;
    border-bottom-color: blue;
    color: blue;
    cursor: pointer;
}

.thead {
    font-weight: bold;
    text-align: center;
    font-size: 1.25rem;
}

.thead .column.title {
    text-align: left;
}

/* .project-editor .container {
    display: flex;
    flex-direction: column;
    min-height: 75vh;
    justify-content: space-between;
} */

.option.title input {
    font-size: 3rem;
}
